frontend/node_modules
frontend/package-lock.json
frontend/build
backend/__pycache__
backend/__pycache__/*
backend/.env
backend/instance/*
.env
backend/.env
backend/__pycache__/opti.cpython-310.pyc
instance/*
backend/__pycache__/extensions.cpython-310.pyc
backend/__pycache__/user.cpython-310.pyc
